*{
 margin: 0;
}

.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: brown;
}

.container1{
 height: 500px;
 background-image: url("assets/Bleach-2023-S2.jpg");
 background-size: cover;
}

.container2{
    border: 1px solid black;
    height: 600px;
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    background-image: linear-gradient(rgba(0, 0, 255, 0.272), rgba(255, 0, 0, 0.413)),
                  url("assets/Bleach.jpg");
    background-position: center;
    background-size: cover;
}

.container3{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    height: 600px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.413), rgba(13, 0, 255, 0.272)),
                  url("assets/quicy.jpg");
     background-size: cover;
}

.container4{
height: 600px;
background-image: url("assets/tension.jpg");
background-size: cover;
display: flex;
align-items: flex-end;
justify-content: center;
}

.container5{
    height:350px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-self: center;
    text-align: center;
}

.container6{
    background-color: brown;
    height: 100px;
     
}

.EM1{
    height: 100px;
    width: 100px;
}

.EM2{
    border: 1px solid black;
    height: 400px;
    width: 200px;
    margin-bottom: 60px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.461);
}

.EM3{
    border: 1px solid black;
    height: 400px;
    width: 200px;
    margin-bottom: 60px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(17, 0, 255, 0.461);
}

.EM4{
    height: 300px;
    width: 400px;
}

.EM5{
  
    background-color:rgba(5, 5, 91, 0.447) ;
    padding:10px;
   
}

.BL2{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BL3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.BL4{
    background-image: url("assets/ichigo1.jpg");
    background-size: cover;
}

.BL5{
    background-image: url("assets/Yamamoto.jpg");
    background-position: center;
    background-size: cover;
}

.BL6{
    background-image: url("assets/Ichibei.jpg");
    background-position: center;
    background-size: cover;  
}

.BL7{
    background-image: url("assets/Uryu.jpg");
    background-size: cover;  
    background-position: center;
}

.BL8{
    background-image: url("assets/Yhwach.jpg");
    background-size: cover;  
    background-position: center;
}

.BL9{
    background-image: url("assets/jugram.jpg");
    background-size: cover;
    background-position: center;
}


#id1{
    height: 100px;
    width: 100px; 
}

#id2{
color: white;
}

#id3{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

#id4{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    background:linear-gradient(to bottom, #f70707ab 20%, #1f059198 100%);

}

#id5{
    color: white;
}

#id6{
    margin-left: 25px;
}

#id7{
    color: white;
    margin: 30px;
}

#CL{
    display: flex;
    justify-content: center;
    background-color:black;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #2d2d2e;
	background:linear-gradient(to bottom, #01080f 5%, #101112 100%);
	background-color:#07121c;
	border-radius:5px;
	border:1px solid #021121;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    font-family: 'Playfair Display', serif;

}
.myButton:hover {
	background:linear-gradient(to bottom, #f70707ab 20%, #1f059198 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}
p{
    text-align:center ;
}

.L1:hover{
  color: red;
}

.L2:hover{
    color: blue;
}

.L3{
    color: white;
    text-align: center;
    line-height: 1.5;

}

a{
    color: white;
}

